* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(224, 224, 224);
}

#login {
    max-width: 70%;
    margin: 35px auto;
}

input[type=text] {
    padding: 10px 25px;
    margin: 5px;
    border: 1px solid #6666;
    color: #6666;
}

button {
    height: 30px;
    width: 50%;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}