body {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 25px;
  height: 100vh;
}

div {
  background-color: crimson;
}

#plade1:hover,
#plade111:hover {
  background-color: cyan;
}
