  #gridcontainer {
      display: grid;
      height: 100vh;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-gap: 0.4rem;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 12px;
      color: #000000;
      text-align: center;
  }
  
  div:nth-child(odd) {
      background-color: darkgrey;
  }
  
  div:nth-child(even) {
      background-color: grey;
  }