// $colors: ( 1: red, 2: green, 3: blue, 4: orange);
// @for $i from 1 through 4 {
//     .paragraph-#{$i} {
//         background-color: map-get($colors, $i);
//     }
// }
// $colors:red green blue orange;
// @each $color in $colors {
//     .paragraph-#{$color} {
//         color: $color;
//     }
// }
//h1{
//   @if(false){
//så gør noget
//   }
//}
@mixin headingSize($size) {
  @if ($size==large) {
    font-size: 50px;
  } @else if($size==medium) {
    font-size: 30px;
  } @else {
    font-size: 15px;
  }
}

h1 {
  @include headingSize(small);
}

$j: 2;
@while $j<=8 {
  .picture-#{$j} {
    width: $j * 10%;
  }
  $j: $j + 2;
}
