 *{
     box-sizing: border-box;
     padding:0;
     margin: 0;
 }

 body{
     margin: 0 auto;
    max-width: 1400px;
}

#intro{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-wrap: wrap;
}

#intro h2{
    width: 100%;

}

#intro p{
    width: 100%;
}




  #gallery {
    display: grid;
    height:  70vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    grid-template-areas: "h2 h2 h2 h2" "img1 img2 img3 img4" "img5 img6 img7 img8";
    grid-row-gap: 5px;
  }


  h2{
      grid-area: h2;
  }

  #img1{
      background-image: url("/grid\ opgaver/opgave2/images/pic1.jpg");
      grid-area: img1;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
  }
  #img2{
    background-image: url("/grid\ opgaver/opgave2/images/pic2.png");
    grid-area: img2;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#img3{
    background-image: url("/grid\ opgaver/opgave2/images/pic3.jpg");
    grid-area: img3;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#img4{
    background-image: url("/grid\ opgaver/opgave2/images/pic4.png");
    grid-area: img4;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#img5{
    background-image: url("/grid\ opgaver/opgave2/images/pic5.jpg");
    grid-area: img5;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#img6{
    background-image: url("/grid\ opgaver/opgave2/images/pic6.jpg");
    grid-area: img6;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#img7{
    background-image: url("/grid\ opgaver/opgave2/images/pic7.jpg");
    grid-area: img7;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
#img8{
    background-image: url("/grid\ opgaver/opgave2/images/pic8.jpg");
    grid-area: img8;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#test1{
    grid-area: test1;
}

#test2 {
    grid-area: test2;
}

#test3{
    grid-area: test3;
}

#testemonials {
    display: grid;
    height:  20vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "test1 test2 test3";
    grid-column-gap: 25px;
    margin-top: 30px;
  }


  #testemonials>article{
      background-color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
  }

  #testemonials>article>h2{
      width: 80%;

  }

  #testemonials>article>p{
      width: 80%;
  }