*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth ;
}

#container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas: "box1 box2 box3" "box4 box5 box6";
    height: 70vh;
    row-gap: 20px;
    column-gap: 60px;
}


#box1{
    grid-area: box1;
    border: 2px solid darkcyan;
    display: grid;
    grid-template-rows: 1fr 4fr 1.5fr 0.8fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "overskrift overskrift2" "billede1 billede2" "contents contents2" "footercontents footercontents2";
}

.overskrift{
    grid-area: overskrift;
    background-color: #006493;
    color: white;
    font-weight: 750;
    border: 2px solid darkcyan;
    display: flex;
    align-items: center;
    padding: 10px;
}

.overskrift2{
    grid-area: overskrift2;
    background-color: #006493;
    color: white;
    font-weight: 750;
    border: 2px solid darkcyan;
    display: flex;
    align-items: center;
    padding: 10px;
}

.billede1{
    grid-area: billede1;
    border: 2px solid darkcyan;
    background-image: url("/grid\ opgaver/opgave4/images/pic1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.billede2{
    grid-area: billede2;
    border: 2px solid darkcyan;
    background-image: url("/grid\ opgaver/opgave4/images/pic2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.contents{
    grid-area: contents;
    border: 2px solid darkcyan;
    display: flex;
    align-items: center;
    padding: 10px;
}

.footercontents{
    grid-area: footercontents;
    border: 2px solid darkcyan;
    display: flex;
    align-items: center;
    padding: 10px;
}

.contents2{
    grid-area: contents2;
    border: 2px solid darkcyan;
    display: flex;
    align-items: center;
    padding: 10px;
}

.footercontents2{
    grid-area: footercontents2;
    border: 2px solid darkcyan;
    display: flex;
    align-items: center;
    padding: 10px;
}

#box2{
    grid-area: box2;
}

#box3{
    grid-area: box3;
}

#box4{
    grid-area: box4;
}

#box5{
    grid-area: box5;
}

#box6{
    grid-area: box6;

}